h1 {
    text-align: center;
}

.color {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

#cor1 {
    background-color: black 
}

#cor2 {
    background-color: red;
}

#cor3 {
    background-color: blue;
}

#cor4 {
    background-color: green;
}